<ion-header>
  <ion-navbar >
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="global-styles">
  <ion-grid >
    <ion-row class="custom-row">
        <h3>Application Mobile Development</h3>
    </ion-row>
    <ion-row>
        <p padding>
          Centennial College's Mobile Applications Development program ensures you develop the necessary skills to enter the fast-growing
          mobile software applications ("apps") development market.
        </p>
    </ion-row>

    <ion-row>
        <ion-slides class="image-slider" pager>
            <ion-slide *ngFor ='let image of images'>
              <img src="{{image}}">
            </ion-slide>      
            </ion-slides>   
    </ion-row>
    <ion-row class="custom-row">
        <h4>Program Start</h4>
    </ion-row>
    <ion-row>
          <ul>
              <li>
               {{programStartInfo}}
              </li>
            </ul>
      </ion-row>
    <ion-row class="custom-row">
          <h4>Admission Requirements</h4>
    </ion-row>

    <ion-row>
          <ul>
            
              <li *ngFor="let req of admissionRequirements">
                <p>{{req}}</p>
              </li>
            </ul>
    </ion-row>
    

  </ion-grid>

</ion-content>