page-home {
    .image-slider{
        height: 85%;
        width: 100%;
        background-size: cover;
    }
    .custom-row {
        background-color: #d4df38;
        border-radius: 5px;
        padding-left: 2%;
        vertical-align: middle;
    }
}
